<div class="index">


  <div class="container">
    <div class="row">

      <br><br>

      <div class="row">

        <div class="col-xs-2 text-right">
          <%= link_to "<span class='glyphicon glyphicon-plus'></span> Agregar Producción".html_safe, new_production_path, class: "btn btn-success", remote: true %>
        </div>

        <div class="col-xs-2">
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
              <% if params[:date_production] %>
                <% date = Date.parse(params[:date_production]) %>
                <%= Date::MONTHNAMES[date.month] %> <%= date.year %> <span class="caret"></span>
              <% else %>
               <%= Date::MONTHNAMES[Date.current.month] %> <%= Date.current.year %> <span class="caret"></span>
              <% end %>
            </button>

            <ul class="dropdown-menu" role="menu">
              <% 13.times.map {|i| (Date.today - i.month).beginning_of_month }.each do |m| %>
                <!-- <li role="presentation"><a href="#"><%= Date::MONTHNAMES[m.month] %> <%= m.year %></a></li> -->
                <li role="presentation">
                  <%= link_to m.strftime("%B %Y"), productions_path(date_production: m), remote: true %>
                </li>
              <% end %>
            </ul>
          </h4>
        </div>

        <div class="col-xs-8">
          <table class="table table-hover">
            <caption class="text-center"><h3>Inventario Actual</h3></caption>
            <thead>
              <th>Referencia</th>
              <th>200g</th>
              <th>1000g</th>
              <th>2000g</th>
            </thead>
            <tbody>
              <% Product.all.each do |p| %>
                <tr id="<%= p.name.split(" ")[1] %>">
                  <td><%= p.name %></td>
                  <td id="P200g"><%= @productions.where(size: "P200g", reference: p.name).sum(:quantity_left) %></td>
                  <td id="P1000g"><%= @productions.where(size: "P1000g", reference: p.name).sum(:quantity_left) %></td>
                  <td id="P2000g"><%= @productions.where(size: "P2000g", reference: p.name).sum(:quantity_left) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>

      <br>

      <% if !@productions.empty? %>
        <% hash = {} %>
        <% @productions.each do |production| %>

          <% if hash[production.entry_date.to_s].nil? %>
            <% hash[production.entry_date.to_s] = [production] %>
          <% else %>
            <% hash[production.entry_date.to_s].push(production) %>
          <% end %>

        <% end %>
        <% hash.each do |date2,production| %>
          <% date = Date.parse(date2) %>

          <!-- <h3><%= Date::MONTHNAMES[date.month] %> <%= date.day %> de <%= date.year %></h3> -->
          <h3><%= date2 %></h3>
          <table id="productions-table" class="table table-hover" style="margin-top: 20px;">
            <thead>
              <tr>
                <!-- <th class="">Fecha de Entrada</th> -->
                <th class="">Referencia</th>
                <th class="">Tamaño</th>
                <th class="">Cantidad</th>
                <th class="">Fecha de Vencimiento</th>
                <th class="">Cantidad Restante</th>
                <th class="">Fecha Agotado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% production.each do |n| %>
                <%= render 'row', production: n %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% else %>
        <h2 class="text-center">No se ha producido nada</h2>
      <% end %>

    </div>
  </div>


</div>