<div class="container">
  <div class="row">
    
      <table id="clients-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Nombre</th>
            <th>Teléfono</th>
            <th class="text-center">Ciudad</th>
            <th class="text-right">Referencia</th>
            <th class="text-right">Nº Pedidos</th>
            <th class="text-right">Ultimo Pedido</th>
            <th class="text-right">Vendedor</th>
            <th class="text-right">Estado</th>
          </tr>
        </thead>
        <tbody>

          <% @clients.each do |client| %>
            <!-- <%= render 'row', expense: expense %> -->
            <td><%= client.name %> <%= client.lastname %></td>
            <td><%= client.phone %></td>
            <td><%= client.city %></td>
            <td><%= client.reference %></td>
            <td><%= client.orders.count %></td>
            <td><%= client.orders.last.date %></td>
            <td><%= client.user.name %> <%= client.user.lastname %></td>
            <td><%= "Estado cliente" %></td>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>