<tr id="<%= order.id %>" style="<% if order.debt > 0 %>
  <%= 'background-color: #FB4747; color: white' %>
  <% elsif order.paid %>
  <%= 'background-color: ; color: green' %>
  <% end %>">

  <td><%= order.date %></td>
  <td>
    <% nombre = "#{order.client.name} #{order.client.lastname}" %>
    <%= link_to nombre, client_path(order.client), style: "color: #99AAAA",remote: true %>
  </td>
  <td><%= order.delivered_date %></td>
  <td><%= order.pay_date %></td>
  <td><%= order.amount %></td>
  <td><%= order.debt %></td>
  <td><%= order.user.name %> <%= order.user.lastname %></td>
  <td>
    <div><%= order.state %></div>
    <div class="actions">
      <%= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe,order_path(order), remote: true %>
      <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_order_path(order), remote: true %>
      <% if current_user.superadmin_role? || current_user.supervisor_role? %>
        <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, order_path(order), method: :delete, data: {confirm: "Estas seguro que deseas eliminar esta orden?"}, remote: true %>
      <% end %>
    </div>
  </td>
  <td>
    <%= link_to "<span class='glyphicon glyphicon-ok-circle'></span>".html_safe, order_path(order, params: {pago: "cli_ready"}), method: :patch, data: {confirm: "Confirma que el cliente ha pagado este pedido?"}, remote: true %>
    <%= link_to "<span class='glyphicon glyphicon-remove-circle'></span>".html_safe, order_path(order, params: {pago: "cli_notready"}), method: :patch, data: {confirm: "Confirma que el cliente NO ha pagado este pedido?"}, remote: true %>
  </td>
  <% if current_user.superadmin_role? || current_user.supervisor_role? %>
    <td>
      <%= link_to "<span class='glyphicon glyphicon-thumbs-up'></span>".html_safe, order_path(order, params: {pago: "ready"}), method: :patch, data: {confirm: "Confirma PAGO a la empresa del pedido?"}, remote: true %>
      <%= link_to "<span class='glyphicon glyphicon-thumbs-down'></span>".html_safe, order_path(order, params: {pago: "notready"}), method: :patch, data: {confirm: "Confirma NO!! PAGO a la empresa del pedido?"}, remote: true %>
    </td>
  <% end %>

</tr>