<tr id="<%= order.id %>">
  
  <td><%= order.date %></td>
  <td><%= order.client.name %> <%= order.client.lastname %></td>
  <td><%= order.delivered_date %></td>
  <td><%= order.pay_date %></td>
  <td><%= order.amount %></td>
  <td><%= order.debt %></td>
  <td><%= order.user.name %> <%= order.user.lastname %></td>
  <td>
    <div><%= order.state %></div>
    <div class="actions">
      <%= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe,order_path(order), remote: true %>
      <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_order_path(order), remote: true %>
      <% if current_user.superadmin_role? || current_user.supervisor_role? %>
        <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, order_path(order), method: :delete, data: {confirm: "Estas seguro que deseas eliminar esta orden?"}, remote: true %>
      <% end %>
    </div>
  </td>
  <td>
    <%= link_to "<span class='glyphicon glyphicon-ok-circle'></span>".html_safe, order_path(order, params: {pago: "ready"}), method: :patch, data: {confirm: "Confirma que el cliente ha pagado este pedido?"}, remote: true %>
    <%= link_to "<span class='glyphicon glyphicon-remove-circle'></span>".html_safe, order_path(order, params: {pago: "notready"}), method: :patch, data: {confirm: "Confirma que el cliente NO ha pagado este pedido?"}, remote: true %></td>

</tr>