<% if @order.errors.empty? %>
  $('table tbody').find('#<%= @order.id %>').replaceWith("<%= j render 'row', order: @order %>");
  $('#total').html("<span style='color: #47FB5C'><%= number_to_currency(@orders.where(state: [2,3]).sum(:amount) - @orders.sum(:debt)) %></span>")
  $('#deuda').html("<span style='color: #FB4747'><%= number_to_currency(@orders.sum(:debt)) %></span>")
  $('#newOrder').modal('hide');

<% else %>
  alert("<%= @order.errors.full_messages[0] %>");
<% end %>