<div class="modal fade" id="newExpense" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
        GASTO

      </div>

      <%= form_for @expense, remote: true, authenticity_token: true do |f| %>
        <div class="modal-body">
            
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <%= f.label :tipo %>
                  <%= f.collection_select :type_id, Type.all, :id, :name, {selected: @expense.type_id}, {class: "form-control"} %>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <%= f.label :fecha %>
                  <p><%= f.date_select :date, {start_year: 2017}, {:class => "form-control", :style => "display: inline-block; width: auto"} %></p>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <%= f.label :categoría %>
                  <!-- En esta coleccion pasamos el :id y mostramos el :name -->
                  <%= f.collection_select :category_id, Category.all, :id, :name, { selected: @expense.category_id}, {class: "form-control"} %>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <%= f.label :producto %>
                  <!-- En esta colección pasamos y mostramos el :name -->
                  <%= f.collection_select :material, Material.all, :name, :name, {selected: @expense.material, include_blank: true}, {class: "form-control"} %>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <%= f.label :cantidad %>
                  <%= f.text_field :quantity, class: "form-control" %>
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <%= f.label :medida %>
                  <%= f.select :measure, options_for_select([['g','g'],['L','L'],['lb','lb'],['m','m']]), {include_blank: true}, {class: "form-control"}  %>
                </div>
              </div>
            </div>
            
            
            <div class="form-group">
              <%= f.label "Concepto/Notas" %>
              <%= f.text_field :concept, class: "form-control" %>
            </div>
            
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <%= f.label :fondo %>
                  <p>
                    <%= f.collection_radio_buttons :fund_id, Fund.all, :id, :name, {checked: Fund.first.id}, {} do |b| %>
                      <%= b.label {b.radio_button + " " + b.text} %><br>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="form-group">
                  <%= f.label :valor %>
                  <%= f.text_field :amount, class: "form-control text-right", placeholder: "0" %>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <%= f.label :factura %>
                  <%= f.file_field :invoice %>
                </div>
              </div>
            </div>

        </div>
          
          <!-- <%= hidden_field_tag :params, request.query_string  %> -->
          <%= hidden_field_tag :type, @parameters[:type]  %>
          <%= hidden_field_tag :category, @parameters[:category]  %>
        <div class="modal-footer">
          <%= link_to "Cancel", "#", class:"btn btn-default", 'data-dismiss': "modal" %>
          <%= f.submit class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>

  </div>
</div>