<tr id="<%= expense.id %>">
  <td class="date">
    <div class="day"><%= expense.date.day %></div>
    <div class="month"><%= Date::MONTHNAMES[expense.date.month] %></div>
  </td>
  <td>
    <div>
      <span class="type"><%= expense.type.name %></span>
    </div>
    <div>
      <span class="concept">
        <span style="color: #90C9CE"><%= expense.material %> <%= expense.quantity %> <%= expense.measure %></span> <%= expense.concept %>
      </span>
    </div>
  </td>
  <td class="category text-center"><%= expense.category.name %></td>
  <td class="text-right" style="width: 170px;">
    <div class="amount"> <%= number_to_currency(expense.amount) %></div>
    <div class="actions">
      <%= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe,expense_path(expense, params: params), remote: true %>
      <% if current_user.superadmin_role? || (expense.user == current_user) %>
        <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_expense_path(expense, params: params), remote: true %>
        <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, expense_path(expense, params: params), method: :delete, data: {confirm: "Estas seguro que deseas eliminar este gasto?"}, remote: true %>
      <% end %>
    </div>
  </td>
</tr>