<tr id="<%= expense.id %>">
  <td class="date">
    <div class="day"><%= expense.created_at.day %></div>
    <div class="month"><%= Date::MONTHNAMES[expense.created_at.month] %></div>
  </td>
  <td>
    <div>
      <span class="type"><%=expense.type.name %></span>
    </div>
    <div>
      <span class="concept"><%= expense.concept %></span>
    </div>
  </td>
  <td class="category text-center"><%= expense.category.name %></td>
  <td class="text-right" style="width: 170px;">
    <div class="amount"><%= number_to_currency(expense.amount) %></div>
    <div class="actions">
      <%= link_to "<span class='glyphicon glyphicon-edit'></span> Edit".html_safe, edit_expense_path(expense), remote: true %>
      <%= link_to "<span class='glyphicon glyphicon-trash'></span> Delete".html_safe, expense_path(expense), method: :delete, data: {confirm: "Are you sure you want to delete this expense?"}, remote: true %>
  </td>
</tr>