<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "YUZY", root_path, class: "navbar-brand" %>
      <!-- <a class="navbar-brand" href="/">YUZY</a> -->
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? && (current_user.superadmin_role? || current_user.supervisor_role?) %>
          <li class="<%= 'active' if @tab == :dashboard %>"><%= link_to "Dashboard", root_path %></li>
          <li class="<%= 'active' if @tab == :expenses %>"><%= link_to "Gastos", expenses_path %></li>
          <li class="<%= 'active' if @tab == :incomes %>"><%= link_to "Ingresos", "#" %></li>
        <% end %>
        <li class="<%= 'active' if @tab == :orders %>"><%= link_to "Pedidos", orders_path %></li>
        <li class="<%= 'active' if @tab == :clients %>"><%= link_to "Clientes", clients_path %></li>
        <% if user_signed_in? && (current_user.superadmin_role? || current_user.supervisor_role?) %>
          <li class="<%= 'active' if @tab == :sellers %>"><%= link_to "Vendedores", "#" %></li>
          <li class="<%= 'active' if @tab == :suppliers %>"><%= link_to "Proveedores", "#" %></li>
          <li class="<%= 'active' if @tab == :production %>"><%= link_to "Producción", productions_path %></li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="btn"  style="margin-top: 5px">
              <%= current_user.name %> <%= current_user.lastname %>
              <%= link_to "Salir", destroy_user_session_path, method: :delete %>
            </div>
          </li>
        </ul>
      <% end %>

    </div>
  </div>
</nav>